body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
#contenedor {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}
/* Header */
header {
    width: 50%;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
}



/* Main content */
main {
    background-color: white;
    width: 50%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}
p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-right: 50px;
}

h2 {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 10px;
}
h1 {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    margin-right: 50px;
}

#price-container {
    width: 100%;
    display: flex;
}

#price {
    font-size: 40px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;

}
#old-price {
    text-decoration: line-through;
    margin-left: 15px;
    color: hsl(228, 12%, 48%);
    
}

button {
    background-color: hsl(158, 36%, 37%);
    width: 90%;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
    font-weight: bold;
}
button:hover {
    background-color: hsl(158, 36%, 20%);

}
button img {margin-right: 5px;}
/* Footer */
.attribution {
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute; 
    bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;

}
a, a:active {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
}
a: hover {
    color: hsl(158, 36%, 20%);
}

/* Media Queries */

@media (max-width: 620px) {
body {
    display: block;
    padding-top: 30px;
    
}
#contenedor {
    width: 400px;
    display: block;
    margin-top: 30px;
}
header {
    width: auto;
    height: 300px;
    background-image: url("images/image-product-mobile.jpg");
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

main {
    width: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


}